In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [3]:
crime = pd.read_csv("crime.csv")

In [4]:
crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,Andhra Pradesh,ADILABAD,2013,96,72,13,61,0,61,65,...,30,2394,12,197,138,464,0,376,1390,6381
1,Andhra Pradesh,ANANTAPUR,2013,156,149,3,28,0,28,110,...,29,2537,23,337,43,161,0,573,1634,6913
2,Andhra Pradesh,CHITTOOR,2013,72,61,2,31,0,31,52,...,18,937,13,119,84,435,0,546,2239,5610
3,Andhra Pradesh,CUDDAPAH,2013,93,107,7,19,0,19,84,...,34,2310,9,318,163,207,0,464,1741,7048
4,Andhra Pradesh,CYBERABAD,2013,162,123,16,138,0,138,192,...,40,4284,43,350,338,1526,0,1104,3139,19992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9835,DELHI UT,WEST,2001,70,51,12,45,0,45,151,...,3,252,18,65,2,22,0,4,4151,7690
9836,LAKSHADWEEP,LAKSHADWEEP,2001,1,0,0,0,0,0,0,...,2,3,0,0,0,0,0,0,17,36
9837,LAKSHADWEEP,TOTAL,2001,1,0,0,0,0,0,0,...,2,3,0,0,0,0,0,0,17,36
9838,PUDUCHERRY,PONDICHERRY,2001,25,32,1,9,0,9,4,...,31,635,1,35,27,3,0,166,2324,4068
9839,PUDUCHERRY,TOTAL,2001,25,32,1,9,0,9,4,...,31,635,1,35,27,3,0,166,2324,4068

In [5]:
crime.head()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,Andhra Pradesh,ADILABAD,2013,96,72,13,61,0,61,65,...,30,2394,12,197,138,464,0,376,1390,6381
1,Andhra Pradesh,ANANTAPUR,2013,156,149,3,28,0,28,110,...,29,2537,23,337,43,161,0,573,1634,6913
2,Andhra Pradesh,CHITTOOR,2013,72,61,2,31,0,31,52,...,18,937,13,119,84,435,0,546,2239,5610
3,Andhra Pradesh,CUDDAPAH,2013,93,107,7,19,0,19,84,...,34,2310,9,318,163,207,0,464,1741,7048
4,Andhra Pradesh,CYBERABAD,2013,162,123,16,138,0,138,192,...,40,4284,43,350,338,1526,0,1104,3139,19992

In [6]:
crime.tail()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
9835,DELHI UT,WEST,2001,70,51,12,45,0,45,151,...,3,252,18,65,2,22,0,4,4151,7690
9836,LAKSHADWEEP,LAKSHADWEEP,2001,1,0,0,0,0,0,0,...,2,3,0,0,0,0,0,0,17,36
9837,LAKSHADWEEP,TOTAL,2001,1,0,0,0,0,0,0,...,2,3,0,0,0,0,0,0,17,36
9838,PUDUCHERRY,PONDICHERRY,2001,25,32,1,9,0,9,4,...,31,635,1,35,27,3,0,166,2324,4068
9839,PUDUCHERRY,TOTAL,2001,25,32,1,9,0,9,4,...,31,635,1,35,27,3,0,166,2324,4068

In [7]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9840 entries, 0 to 9839
Data columns (total 33 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   STATE/UT                                             9840 non-null   object
 1   DISTRICT                                             9840 non-null   object
 2   YEAR                                                 9840 non-null   int64
 3   MURDER                                               9840 non-null   int64
 4   ATTEMPT TO MURDER                                    9840 non-null   int64
 5   CULPABLE HOMICIDE NOT AMOUNTING TO MURDER            9840 non-null   int64
 6   RAPE                                                 9840 non-null   int64
 7   CUSTODIAL RAPE                                       9840 non-null   int64
 8   OTHER RAPE                                           9840 non-null   int64
 9   KIDNAPPING & ABDUCTION                               9840 non-null   int64
 10  KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS          9840 non-null   int64
 11  KIDNAPPING AND ABDUCTION OF OTHERS                   9840 non-null   int64
 12  DACOITY                                              9840 non-null   int64
 13  PREPARATION AND ASSEMBLY FOR DACOITY                 9840 non-null   int64
 14  ROBBERY                                              9840 non-null   int64
 15  BURGLARY                                             9840 non-null   int64
 16  THEFT                                                9840 non-null   int64
 17  AUTO THEFT                                           9840 non-null   int64
 18  OTHER THEFT                                          9840 non-null   int64
 19  RIOTS                                                9840 non-null   int64
 20  CRIMINAL BREACH OF TRUST                             9840 non-null   int64
 21  CHEATING                                             9840 non-null   int64
 22  COUNTERFIETING                                       9840 non-null   int64
 23  ARSON                                                9840 non-null   int64
 24  HURT/GREVIOUS HURT                                   9840 non-null   int64
 25  DOWRY DEATHS                                         9840 non-null   int64
 26  ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY  9840 non-null   int64
 27  INSULT TO MODESTY OF WOMEN                           9840 non-null   int64
 28  CRUELTY BY HUSBAND OR HIS RELATIVES                  9840 non-null   int64
 29  IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES          9840 non-null   int64
 30  CAUSING DEATH BY NEGLIGENCE                          9840 non-null   int64
 31  OTHER IPC CRIMES                                     9840 non-null   int64
 32  TOTAL IPC CRIMES                                     9840 non-null   int64
dtypes: int64(31), object(2)
memory usage: 2.5+ MB

In [8]:
crime.columns

Index(['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'ATTEMPT TO MURDER',
       'CULPABLE HOMICIDE NOT AMOUNTING TO MURDER', 'RAPE', 'CUSTODIAL RAPE',
       'OTHER RAPE', 'KIDNAPPING & ABDUCTION',
       'KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS',
       'KIDNAPPING AND ABDUCTION OF OTHERS', 'DACOITY',
       'PREPARATION AND ASSEMBLY FOR DACOITY', 'ROBBERY', 'BURGLARY', 'THEFT',
       'AUTO THEFT', 'OTHER THEFT', 'RIOTS', 'CRIMINAL BREACH OF TRUST',
       'CHEATING', 'COUNTERFIETING', 'ARSON', 'HURT/GREVIOUS HURT',
       'DOWRY DEATHS', 'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR HIS RELATIVES',
       'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES',
       'CAUSING DEATH BY NEGLIGENCE', 'OTHER IPC CRIMES', 'TOTAL IPC CRIMES'],
      dtype='object')

In [9]:
crime['STATE/UT'] = crime['STATE/UT'].str.upper()
crime['DISTRICT'] = crime['DISTRICT'].str.upper()

In [10]:
crime['STATE/UT'].unique()

array(['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR',
       'CHHATTISGARH', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH',
       'JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA',
       'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM',
       'NAGALAND', 'ODISHA', 'PUNJAB', 'RAJASTHAN', 'SIKKIM',
       'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 'UTTARAKHAND',
       'WEST BENGAL', 'A&N ISLANDS', 'CHANDIGARH', 'D&N HAVELI',
       'DAMAN & DIU', 'DELHI UT', 'LAKSHADWEEP', 'PUDUCHERRY',
       'A & N ISLANDS', 'D & N HAVELI'], dtype=object)

In [11]:
def state(name):
    state = crime.groupby(['STATE/UT','DISTRICT','YEAR']).sum()['TOTAL IPC CRIMES']
    return state[name]

In [12]:
state('KARNATAKA')

DISTRICT  YEAR
BAGALKOT  2001      1710
          2002      1915
          2003      1951
          2004      2038
          2005      2083
                   ...
YADGIRI   2010      1542
          2011      1592
          2012      1486
          2013      1489
ZZ TOTAL  2013    136689
Name: TOTAL IPC CRIMES, Length: 435, dtype: int64

In [13]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9840 entries, 0 to 9839
Data columns (total 33 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   STATE/UT                                             9840 non-null   object
 1   DISTRICT                                             9840 non-null   object
 2   YEAR                                                 9840 non-null   int64
 3   MURDER                                               9840 non-null   int64
 4   ATTEMPT TO MURDER                                    9840 non-null   int64
 5   CULPABLE HOMICIDE NOT AMOUNTING TO MURDER            9840 non-null   int64
 6   RAPE                                                 9840 non-null   int64
 7   CUSTODIAL RAPE                                       9840 non-null   int64
 8   OTHER RAPE                                           9840 non-null   int64
 9   KIDNAPPING & ABDUCTION                               9840 non-null   int64
 10  KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS          9840 non-null   int64
 11  KIDNAPPING AND ABDUCTION OF OTHERS                   9840 non-null   int64
 12  DACOITY                                              9840 non-null   int64
 13  PREPARATION AND ASSEMBLY FOR DACOITY                 9840 non-null   int64
 14  ROBBERY                                              9840 non-null   int64
 15  BURGLARY                                             9840 non-null   int64
 16  THEFT                                                9840 non-null   int64
 17  AUTO THEFT                                           9840 non-null   int64
 18  OTHER THEFT                                          9840 non-null   int64
 19  RIOTS                                                9840 non-null   int64
 20  CRIMINAL BREACH OF TRUST                             9840 non-null   int64
 21  CHEATING                                             9840 non-null   int64
 22  COUNTERFIETING                                       9840 non-null   int64
 23  ARSON                                                9840 non-null   int64
 24  HURT/GREVIOUS HURT                                   9840 non-null   int64
 25  DOWRY DEATHS                                         9840 non-null   int64
 26  ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY  9840 non-null   int64
 27  INSULT TO MODESTY OF WOMEN                           9840 non-null   int64
 28  CRUELTY BY HUSBAND OR HIS RELATIVES                  9840 non-null   int64
 29  IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES          9840 non-null   int64
 30  CAUSING DEATH BY NEGLIGENCE                          9840 non-null   int64
 31  OTHER IPC CRIMES                                     9840 non-null   int64
 32  TOTAL IPC CRIMES                                     9840 non-null   int64
dtypes: int64(31), object(2)
memory usage: 2.5+ MB

In [16]:
import math
import statistics
import scipy.stats as stats

In [14]:
crime.describe()

,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,KIDNAPPING AND ABDUCTION OF OTHERS,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
count,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,...,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000
mean,2007.161890,88.565854,78.738618,9.754878,55.456098,0.005488,55.450610,85.836992,64.184553,21.652439,...,25.012398,753.362805,20.179878,106.482520,27.772967,202.046138,0.187602,226.296951,2214.523171,5404.141463
std,3.755581,325.417692,306.650391,58.733349,201.690457,0.111218,201.676202,354.035359,278.536450,93.769371,...,97.601717,3059.322654,97.446611,423.729483,170.367098,869.325453,2.319261,952.900601,8199.391921,18941.271529
min,2001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2004.000000,18.000000,10.000000,0.000000,8.000000,0.000000,8.000000,10.000000,6.000000,2.000000,...,2.000000,43.750000,1.000000,10.000000,0.000000,11.000000,0.000000,5.000000,264.000000,857.750000
50%,2007.000000,37.000000,28.000000,2.000000,21.000000,0.000000,21.000000,26.000000,19.000000,5.000000,...,8.000000,199.000000,5.000000,33.000000,2.000000,49.000000,0.000000,70.000000,750.000000,2130.500000
75%,2010.000000,66.000000,57.000000,6.000000,43.000000,0.000000,43.000000,60.000000,46.000000,14.000000,...,19.000000,533.250000,16.000000,80.000000,13.000000,139.250000,0.000000,180.000000,1631.000000,4025.000000
max,2013.000000,7601.000000,7964.000000,1616.000000,4335.000000,5.000000,4335.000000,11183.000000,9737.000000,2685.000000,...,2830.000000,60488.000000,2335.000000,8252.000000,4970.000000,19865.000000,83.000000,16076.000000,127850.000000,234385.000000